@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    --production: rgb(60, 146, 220);
    --staging: rgb(233, 171, 17);
    --development: rgb(71, 139, 96);
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.tab-content {
    height: calc(100vh - (160px)) !important;
    overflow-y: auto;
}

ul.nav-tabs li button:hover {
    background-color: #FFF;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

.dot {
    --r: 6px;
    width: calc(var(--r) * 2);
    height: calc(var(--r) * 2);
    border-radius: var(--r);
    display: inline-flex;
    margin-right: 5px;
}

.bg-production {
    background-color: var(--production);
}

.border-production {
    border-color: var(--production);
}

.bg-staging {
    background-color: var(--staging);
    color: rgb(20, 20, 20);
}

.border-staging {
    border-color: var(--staging);
}

.bg-development {
    background-color: var(--development);
}

.border-development {
    border-color: var(--development);
}